<p> Welcome, <%= current_user.username %>
<h2> Your Hosts </h2>

<% @hosts.each do |host| %>
  <div>
    <% if host.user.id == current_user.id %>
      <a href="/hosts/<%=host.id %>"><%= host.content %> </a>
    <% else %>
      <%= host.content %>
      <%= host.hat_color %>
    <%end %>

  </div>
 <% end %>
<div class="content">
      <p>Would you like to:</p>

      <nav>
        <% if logged_in? %>

          <a href="/hosts/new"> Create New Host </a>
          or
          <a href="/logout"> Log Out </a>

        <%end %>

      </nav>
    </div>
